html {
        height: 100%;
}
body {
    height: 100%;
}
.navbar-nav {
    margin-left:20%;
}
.navbar-default {
    border-top-width: 0px;
    margin-bottom: 0px;
    border-left-width: 0px;
    border-right-width: 0px;
    background-color: black;
    border-radius: 0px;
}
.pierrnav {
    font-family: 'Josefin Sans', sans-serif;
    text-transform: uppercase;
}

.navbar-default .navbar-nav>li>a {
    color: white;
}

.navbar-right {
    margin-right: 10%;
}

.bio {
    background-color: white;
}
.header-unit {
  min-height: 100%;
  border-right:none;
  border-left: none;
  position: relative;
  padding: 20px;
}
#video-container {
	position: absolute;
}
#video-container {
	top:0%;
	left:0%;
	height:100%;
	width:100%;
	overflow: hidden;
}
video {
	position:absolute;
	z-index:0;
}
video.fillWidth {
	width: 100%;
}

.imgbio {
    margin-top: 5%;
    margin-right: 5%;
    margin-bottom: 5%;
}

.img-article {
  max-width: 100%;
}

/* Fix bootstrap */
.row {
  margin-left: 0;
  margin-right: 0;
}

/* Notifications */

.soft-notif {
  display: block;
  border: 1px solid #37578e;
  background-color: #b2cbf7;
  box-shadow: 1px 1px 2px 0 #242424;
  color: #000;
  font-size: 18px;
  text-align: center;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  position: fixed;
  bottom: 10px;
  right: 10px;
  max-width: 400px;
  min-width: 120px;
  z-index: 5;
  line-height: 40px;
  padding: 4px 16px !important;
  animation: plop 4s 0s ease-in-out;
  animation-fill-mode: both;
}

/* ANIMATIONS */

@keyframes plop {
	0% {
		-webkit-transform: scale(0.01, 0.01);
		-ms-transform: scale(0.01, 0.01);
		transform:scale(0.01,0.01);
		opacity:0;
	}
	5% {
		-webkit-transform: scale(1, 1);
		-ms-transform: scale(1, 1);
		transform:scale(1,1);
		opacity:1;
	}

  95% {
    -webkit-transform: scale(1, 1);
		-ms-transform: scale(1, 1);
		transform:scale(1,1);
		opacity:1;
  }

  99% {
    -webkit-transform: scale(0.01, 0.01);
		-ms-transform: scale(0.01, 0.01);
		transform:scale(0.01,0.01);
		opacity:0;
  }

  100% {
    display: none;
  }
}

.titrearticle {
    color : red;
    text-align: center;
    
}
.soustitre {
    color: grey;
        
}
.ecole {
    background-color: black;padding: 25px 0;
}
.actu{background-color: white;margin: 50px 0;}

h2{font-size: 20px;margin: 5px 0 ;}
h3{font-size: 30px;margin: 0; }

figure {padding: 0;margin:0;}
.artphoto{padding: 0; margin: 20px 0 ; }

.rectanglerouge{ width: 70px;height: 6px;background-color: red;margin: 10px 0; border: none; }

.articles h4 { font-size: 25px; color: red; }

.fa{font-size: 30px;margin: 15px 0px ;}

.Spectacle{background-image: url("../img/cikalive.png"); background-size: contain;background-repeat: no-repeat;}

.articlesspe{ background: white;margin-top: 250px; }

.headline
{
	position:relative;
	display:inline-block;
	border:1px solid red;
	margin-bottom:120px;
	color:red;
	font:12px 'Oswald', sans-serif;
	line-height:20px;
text-align:center}

.headline h1
{
	padding:10px 15px;
	margin-bottom:0;
line-height:12px}

.headline h2
{
	padding:30px 40px;
	margin-bottom:0;
	text-transform:uppercase;
line-height:24px}

.headline p
{
	position:absolute;
	top:-10px;
	right:0;
	left:0;
	letter-spacing:1px;
text-transform:uppercase}
.question {
  background-color: red;
}
.headline p span
{
	padding:0 10px;
background-color:red}

section {
    min-height: 100%;
}
